body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 3em;
  min-width: 100vh;
  border: 1px solid red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

   /*inicio estilos propios*/
.container {
  background-color: blueviolet;
  padding: 1em;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}



.container_footer{
  background-color: rgb(217, 214, 23);
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  
  
  
}